<body>
  <div class="textbox">
    <section>
      <h1>Welcome to Heather's {{title}}!</h1>
      <p>Search recipes below by tags (eg, 'freezer friendly') or ingredients ('broccoli'). Please separate your query by commas. Alternately, if you have no idea what you're hungry for, enter 'random' and a random recipe will generate, or enter 'list' and the full list of recipes will show.</p>
      <a href="{{next}}">Next</a>
      <form>
        <label for="search_box">
          <input type="text" id="search_box" placeholder="Search">
        </label>
        <input type="submit" value="submit" id="submit">
      </form>
    </section>
  <div>
</body>
