body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("background1.jpg");
  background-size: cover;
  max-height: 100vh;
}

a {
  color: #00B7FF;
}

.textbox {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: hsla(41, 55%, 90%, 0.7);
}

.ingredients {
  list-style-type: none;
}

.tags li {
  display: inline-block;
  margin: 2em;
}

#userInput {
  font-size: 5em;
  color: pink;
}
